<div class="controls-wrap flex-x justify-content-end mr-4">
    <button mat-button (click)="sortDate()">
        <mat-icon *ngIf="showDateDesc">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!showDateDesc">keyboard_arrow_down</mat-icon>
        Date
    </button>

    <button mat-button (click)="sortByPopularity()">
        <mat-icon *ngIf="showPopularityDesc">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!showPopularityDesc">keyboard_arrow_down</mat-icon>
        Popularity
    </button>
</div>