<div class="movie-container">
    
    <app-header (result)="searchMovies($event)"></app-header>
    
    <app-filter (sortBy)="sortBy($event)" (searchByGenre)="moviesByGenre($event)" [genres]="genreResponse"></app-filter>
    
    <div class="movie-list">    
        <ng-container *ngIf="!isSearchInBackground">

            <div *ngIf="!movieResponse?.total_results; else movieListComponent" class="flex-y results-not-found">
                <h3>No Results Found!</h3>
            </div>

            <ng-template #movieListComponent>
                <app-movie *ngFor="let movie of movieResponse?.results" [movie]="movie" [genres]="genreResponse">
                </app-movie>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="isSearchInBackground">
            <div class="flex-y results-not-found">
                <p>Getting your results...</p>
            </div>
        </ng-container>
    </div>

    <div class="pagination">
        <app-pagination
            [results]="movieResponse?.total_results || 0" [totlaPages]="movieResponse?.total_pages || 0"
            (pageChange)="pageChange($event)">
        </app-pagination>
    </div>
    
</div>
